body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrolling */
  }
   
  .hero-section {
    background-image: url('../../assets/background.jpg'); /* Replace with the actual image filename */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-section .search-bar {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  
  .hero-section .input-container {
    position: relative;
    margin-right: 10px;
  }
  
  .hero-section .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
  }
  
  .hero-section .input-container input {
    padding: 10px 10px 10px 30px; /* Adjust padding to make space for icon */
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .hero-section .input-container input:focus {
    border-color: #61b15a;
    outline: none;
  }
  
  .hero-section .input-label {
    display: flex;
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    border:none;
    padding: 4px;
    background:linear-gradient(90deg,#9c27b0,#f3f5f5);
    margin: 6px;
    border-radius:4px;
    align-items: center;
    justify-content: center;


  }
  
  .hero-section .search-bar button {
    background-color: #61b15a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .hero-section .search-bar button:hover {
    background-color: #3c6e47;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {  
    .hero-section h1 {
      font-size: 36px;
    }
  
    .hero-section .search-bar {
      flex-direction: column;
    }
  
    .hero-section .input-container {
      margin-bottom: 10px;
    }
  
    .hero-section .search-bar button {
      margin-top: 10px;
    }
  }