.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('../../../public/images/landingpage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-text h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .hero-text h1.sharpskill {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .hero-text h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  
  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(14, 72, 88);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
  }
  
  .input-container_h {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 0 10px;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    
  }
  
  .input-container_h input {
    margin-top: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    background: transparent;
   
  }
  
  .input-container_h label {
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 1rem;
    color: gray;
  }
  
  .input-container_h input:focus + label,
  .input-container_h input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 0.85rem;
    color: #ff5a5f;
  }
  
  .h_btn1{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5a5f;
    color: white;
    cursor: pointer;
   
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .search-bar {
      flex-direction: column;
    }
    
    .input-container_h {
      width: 100%;
      margin: 10px 0;
    }
    
    button {
      width: 100%;
      margin: 10px 0;
    }
  }