body {
    margin: 0;
    padding: 0;
}

.services_container {
    height: 100vh;
    display: flex;
}

.services_left {
    height: 100%;
    width: 50%;
    background-color: #154858;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
}

.services_right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #ffffff;
    position: relative;
}

.services_header_l {
    position: absolute;
    left: 42%;
    display: flex;
    align-items: center;
    position: relative;
}
.services_header_r {
    position: absolute;
    right: 37%;
    display: flex;
    align-items: center;
    position: relative;
}

.services_header_l, h1 {
    margin: 0 20px;
    font-size: 3rem;
    
}
.services_header_r, h1 {
    margin: 0 20px;
    font-size: 3rem;
    
}

.left_hr, .right_hr {
    position: absolute;
    height: 1px;
    background-color: #ffffff;
    border: none;
}

.left_hr {
    width: calc(100%);
    right: 100%;
    margin-right: 20px;
}

.right_hr {
    width: calc(100%);
    left: 100%;
    margin-left: 20px;
    background-color: #000000;
}

.services_boxes1, .services_boxes2, .services_boxes3, .services_boxes4 {
    width: 30%;
    height: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services_boxes1 {
    position: absolute;
    left: 10%;
    top: 10%;
}

.services_boxes2 {
    position: absolute;
    left: 50%;
    top: 20%;
}

.services_boxes3 {
    position: absolute;
    right: 50%;
    top: 20%;
}

.services_boxes4 {
    position: absolute;
    right: 10%;
    top: 10%;
}

.services_box_u {
    height: 40%;
    background-color: #ffffff;
}

.services_box_d {
    height: 40%;
    background-color: #154858;
}
